$tablet: 768px;

.location-list {
	max-height: 170px;
	overflow: scroll;
	padding: 16px;
	background: white;
	position: relative;
	top: -58px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 0;
	padding-top: 16px;
	margin-bottom: 0;

	@media (min-width: $tablet) {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

	li {
		list-style: none;
		padding: 16px 24px;
		cursor: pointer;
		font-size: 16px;

		&:hover {
			background: #ececec;
		}
	}
}
