$tablet: 768px;

body {
	margin: 0;
	background: rgb(122, 54, 177);

	box-sizing: border-box;

	@media (min-width: $tablet) {
		background: linear-gradient(
			90deg,
			rgba(122, 54, 177, 1) 48%,
			rgba(70, 116, 175, 1) 96%
		);
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
